# Can't follow non-constant source. Use a directive to specify location
disable=SC1090
# Not following: (error message here)
disable=SC1091
# Add a shebang
disable=SC2148
# Declare and assign separately to avoid masking return values
disable=SC2155
