metadata:
  description: Lightweight config with minimal utilities / apps installed for virtual machines.
  distro: auto
  DE: auto
check:
  distroCfg: true
  purge: !disabled
    # docker installed via aptAltSources
    - docker.io
    - docker-doc
    - docker-compose
    - docker-compose-v2
    - podman-docker
    - containerd
    - runc
    - "*firefox*" # firefox installed via aptAltSources
    - "*libreoffice*" # libreoffice replaced with onlyoffice
  deps: !enabled
    # essential packages
    - apt-transport-https
    - bash-completion
    - build-essential
    - ca-certificates
    - cmake
    - curl
    - ffmpeg
    - flatpak
    - git
    - pinentry-tty
    - software-properties-common
    - stow
    - ttf-mscorefonts-installer
    - unzip
    # pyenv dependencies
    - libbz2-dev
    - libffi-dev
    - liblzma-dev
    - libncurses-dev # libncursesw5-dev is a transitional pkg
    - libreadline-dev
    - libsqlite3-dev
    - libssl-dev
    - libxml2-dev
    - libxmlsec1-dev
    - tk-dev
    - xz-utils
    - zlib1g-dev
    # imagemagick dependencies
    - libjpeg-dev
    - libpng-dev
    - libtiff-dev
    # cargo-update dependencies
    - libgit2-dev
    - libssh-dev
    - libssl-dev
    - pkgconf
  rustupCheck: true
  appimaged: true
  nerdfont: !enabled GeistMono
install:
  check: true
  apt: !enabled
    - default-jdk
    - fzf # fuzzy finder
    - gnupg2
    - imagemagick # image converter
    - openssh-server
    - pandoc # document converter
    - pass
    - trash-cli
    - vim
    - vlc
  addRepos: !enabled
    - sourceName: mozilla
      remoteKey: https://packages.mozilla.org/apt/repo-signing-key.gpg
      keyPath: /etc/apt/keyrings/packages.mozilla.org.asc
      repo: deb [signed-by=/etc/apt/keyrings/packages.mozilla.org.asc] https://packages.mozilla.org/apt mozilla main
      pinning: |-
        Package: *
        Pin: origin packages.mozilla.org
        Pin-Priority: 1000
      packages:
        - firefox
    - sourceName: vscode
      remoteKey: https://packages.microsoft.com/keys/microsoft.asc
      keyPath: /etc/apt/keyrings/packages.microsoft.gpg
      repo: deb [arch=amd64,arm64,armhf signed-by=/etc/apt/keyrings/packages.microsoft.gpg] https://packages.microsoft.com/repos/code stable main
      pinning: false
      packages:
        - code
  flatpak: !disabled []
  cargo: !enabled
    - bat --locked # cat replacement
    - bottom --locked # process / system monitor
    - eza # ls replacement
    - macchina # system info
    - starship --locked
    - zoxide --locked # smarter cd command
  binaries: !enabled
    - name: git-credential-manager.deb
      url: $(curl -sSL https://api.github.com/repos/git-ecosystem/git-credential-manager/releases/latest | yq '.assets[].browser_download_url | select(. == "*deb")')
  languages:
    goVersion: !enabled latest
    nodeVersion: !enabled latest
    pyenv: !enabled
      update: false
      version: 3
      pip: true
    uv: !disabled
      version: !enabled 3.13
update:
  check: true
  apt: !enabled
    aptFull: false
  flatpak: true
  cargo: false
  other:
    yq: true
    go: false
    node: false
configure:
  check: true
  dotfiles: !enabled
    stowMode: override
    packages:
      - bash
      - bat
      - bottom
      - macchina
      - starship
      - vscode
      - wezterm
  apps:
    docker: false
    virtualbox: false
    vscodeExtensions: !enabled
      - catppuccin.catppuccin-vsc
  desktopEnvironment: !enabled
    common: !enabled
      defaultTerm: !enabled wezterm
    gnome: !enabled
      settings: true
      extensions: !enabled
        # - dash-to-dock@micxgx.gmail.com # Ubuntu already has a conflicting pkg
        - blur-my-shell@aunetx
        - netspeedsimplified@prateekmedia.extension
        - rounded-window-corners@fxgn
      MacOSDock: true
      smoothRoundedCorners: true
    cinnamon: !enabled
