# bash better auto-completion from `man readline`
set completion-ignore-case on
set show-all-if-ambiguous on

# up & down arrow to search history based on current string
"\e[A": history-search-backward
"\e[B": history-search-forward

# coloured options shown when completions are triggered
set colored-completion-prefix on
set colored-stats on
